@import '../../styles/variables';

.button {
  cursor: pointer;
  color: $white;
  background-color: $primary;
  font-family: $font-family;
  font-size: $font-size;
  border: none;
  border-radius: 4.5px;
  padding: 0.4375rem 1.21875rem;
}
