@import '../../styles/variables';

.button {
  cursor: pointer;
  color: $white;
  background-color: $primary;
  font-family: $font-family;
  font-size: $font-size;
  border: 1px solid $primary;
  border-radius: 4.5px;
  padding: 0.375rem 1.125rem;
}
