// Colors
$white: white;
$gray-1: #ACACAC;
$gray-2: #C7C7C7;

$primary: #A700AA;
$success: #049F26;
$warning: #BDAA00;
$danger: #FF0000;

// Typography
$font-family: 'Cascadia Mono', sans-serif;
$font-size: 1rem;
$line-height: 1.162;

// Body
$body-bg: white;
